@import "../colors/colors.css";

@keyframes glowing-pink {
    0%   { box-shadow: 0 0 20px @pink; }
    50%  { box-shadow: 0 0 40px @blue; }
    100% { box-shadow: 0 0 20px @yellow; }
}

* {
    background-image: none;
    font-family: "JetBrainsMono Nerd Font";
    transition: 100ms;
}

window {
    background: rgba(51, 32, 42, 0.55);
    font-size: 0px;
}

button {
    background-color: alpha(@background, 0.90);
    outline-style: none;
    border: 2px solid @pink;
    border-width: 2px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45%;
    border-radius: 16px;
    box-shadow: none;
    text-shadow: none;
    color: @foreground;
    margin: 8px;
}

button:hover {
    background-size: 52%;
    background-color: @select;
    border-color: @vibrant-border;
    animation: glowing-pink 2s ease infinite alternate;
    outline-style: none;
}

button:focus {
    background-color: @select;
    border-color: @vibrant-border;
}

#lock {
    background-image: image(url("./icons/lock.png"), url("/usr/share/wlogout/icons/lock.png"));
}

#suspend {
    background-image: image(url("./icons/suspend.png"), url("/usr/share/wlogout/icons/suspend.png"));
}

#shutdown {
    background-image: image(url("./icons/shutdown.png"), url("/usr/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("./icons/reboot.png"), url("/usr/share/wlogout/icons/reboot.png"));
}

#logout {
    background-image: image(url("./icons/logout.png"), url("/usr/share/wlogout/icons/logout.png"));
}
